<!DOCTYPE>
 <html>
<head>
    <meta name="charset" content="utf-8">
    <meta name="X-UA-Compatible" content="width = device-width, initial-scale = 1">
    <title><%=title%></title>
</head>
<body>
    <h1>Upload a file</h1>
    <form action = '/' method = 'post' enctype="multipart/form-data">
        <label for="file">File</label><br>
        <input type="file" name="file"><br><br><br>
        <input type="submit" name="" value="Upload">
    </form>
</body>    
</html>
